@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
.container{
  padding: 40px 40px 40px 40px;
  background-size: cover;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.form-login{
  border-radius: 15px;
  padding: 5px 20px 20px 20px;
  text-align: center;
  /* border: 1px solid black; */
  width: 350px;
  background-color: rgba(255, 255, 255, .4);
}
label{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  width: 318px;
  background-color: rgb(51, 218, 209);
  border: none;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}
.form-login a{
  margin-top: 100px;
  text-decoration: none;
  line-height: 30px;
}
.form-login h1{
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  font-size: 45px;
  color:  white;
  margin-bottom: 40px;
}
#notif{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
#f-password{
  color: black;
  opacity: .6;
}
#sign-up{
  color: rgb(51, 218, 209);
  font-weight: bolder;
}
.content-left{
  color: white;
  /* border: 1px solid black; */
  text-align: center;
  padding-top: 150px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 5px;
  text-shadow: 2px 2px black;
}
.content-left h1{
  font-size: 60px;
}
.content-left p{
  font-weight: bolder;
  font-size: 20px;
}
@media only screen and (max-width: 1000px){
  .container{
    width: 1000px;
  }
}